body{
   background-color: darkgray;
}


#topRow {

   border: 3px solid red;
   /*background-image: url("background_images/IMG_4025.JPG");*/
   background-repeat: no-repeat;
   background-size: 110% 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: -2;
   height:70%;
   width: 100%;

}

.bottomRow{
   padding:20px;
   color: black;
   font: 20pt Arial;
   border: 1px solid;
   border-color : rgb(22, 219, 48);
   margin-top: 100vh;
   height: 700px;
   background-image: url("background_images/Dialog Box.png");
   background-repeat: no-repeat;
   background-size: 101% 98%;
   background-position: center;
   margin-top: 68vh;
   padding-top: 4px;
   
}

#paper1{
  
   margin: 5px;
   padding:0px;
   
}

#paper1 img {
   height: 800px;
   margin-top: 30vh;
   margin-left: 25%;
}

#rock1{
   margin-top: 70%;
   transform: scaleX(-1);
}

#rock1 img {
  height: 550px;
  margin-top: 30vh;
  margin-left: 25%;
 
}
#rockHP{
   background-color: aqua;
   margin:2px 2px;
   border:5px green solid
  
}

#paperHP{
   background-color: orange;
   margin-bottom:1px;
}

.moves{
   margin-right: 400px;
   width: 100%;
   height: 50%;
   margin-top: 20%;
}



.stats{
   width: 3px;
   border: 1px solid;
   border-color : blue;
   height: 1px;
}
.moves1 button{
   background-color: black;
   border: 19px solid green;
   border-color : black;
   font: 25pt Arial;
   border-radius: 5px;
   color: white;
   margin-top: 90px ;
   margin-right: 2vh;
 }


.moves button{
  background-color: black;
  border: 3px solid;
  border-color : black;
  font: 25pt Arial;
  border-radius: 5px;
  color: white;
  margin-top: 90px ;
  margin-left: 2vh ;
}

.bottomRow button{
   font: 24pt Arial;
   border-radius: 5px;
   margin: 500px 350px;
   position:sticky;
   z-index: 3;
   width: 150px;
   background-color: black;
   color: white;
   border: 3px solid;
   border-color : red;
   margin-top: 20vh;
   margin-left:30vh;
}
/*
#punch{
background-color: blue;
font-weight: bold;
color:black
}
#kick{
background-color: yellow;
color:black;
font-weight: bold;
}
#spMove{
   background-color: green;
}

#punch:hover{
   background-color: red;
   font-weight: bold;
   color:black
   }
   #kick:hover{
   background-color: red;
   color:black;
   font-weight: bold;
   }
   #spMove:hover{
      background-color: red;
   }*/
#music{
   position:absolute;
   top: 95vh;
   left:120vh;
   z-index: 3;
}

#music img{
   height:80px;
}


button:hover{
   background-color: red;
}
   #p{
      font-family: 'Chakra Petch', sans-serif;
      font-weight: 700;
      font-size: 40px;
      z-index: -5;
     margin:100px 50px;
    
   }

/*
.hP{
   color: white;
   background-color: blue;
   font:18pt Arial;
   font-weight:bold;
   margin-top: 800px;
   border: 2px solid;
   border-color : red;
}

.hP1{
   color: white;
   background-color: blue;
   font:18pt Arial;
   font-weight:bold;
   margin-top: 800px;
   border: 2px solid;
   border-color : red;
   margin-left: 20px;
}

.bar{
   font-weight: bold;
   font-size: larger;
   width: 650px;
   height:30px;
   background-color: green;
   border: 4px solid black;
   margin-top:2px;
}



h2{
   font-size: 50px;
margin-right: 5vh;
margin-left: 5vh;
padding: 0%;
}
