body{
   background-color: darkgray;
}


#topRow {
   display:flex;
   flex-direction: row;
   border: 3px solid red;
   background-image: url("background_images/IMG_4025.JPG");
   background-repeat: no-repeat;
   background-size: 110vh 70vh;
   background-position: center;
   position: fixed;
   left: 0;
   top: 0;
   z-index: -2;
}

.bottomRow{
   padding:20px;
   color: black;
   font: 20pt Arial;
   border: 1px solid;
   border-color : rgb(22, 219, 48);
   margin-top: 100vh;
   height: 700px;
   background-image: url("background_images/Dialog Box.png");
   background-repeat: no-repeat;
   background-size: 101% 98%;
   background-position: center;
   margin-top: 64vh;
   padding-top: 4px;
   
}

#paper1{
  
   margin-top: 550px;
}

#paper1 img {
   height: 800px;;
   
}

#rock1{
   margin-top: 710px;
   transform: scaleX(-1);
}

#rock1 img {
  height: 550px;
margin-bottom: 500px;
 
}
#rockHP{
   background-color: aqua;
   margin:20px 2px;
   
  
}

#paperHP{
   background-color: orange;
}

.moves{
   margin-right: 400px;
   width: 100%;
   height: 50%;
}



.stats{
   left: 300;
   width: 3px;
   border: 1px solid;
   border-color : blue;
   height: 1px;
}

.moves button{
  background-color: black;
  border: 3px solid;
  border-color : black;
  font: 25pt Arial;
  border-radius: 5px;
  color: white;
  margin-top: 90px ;
}

.bottomRow button{
   font: 24pt Arial;
   border-radius: 5px;
   margin: 500px 350px;
   position:sticky;
   z-index: 3;
   width: 150px;
   background-color: black;
   color: white;
   border: 3px solid;
   border-color : red;
}

#punch{
background-color: blue;
font-weight: bold;
color:black
}
#kick{
background-color: yellow;
color:black;
font-weight: bold;
}
#spMove{
   background-color: green;
}

#punch:hover{
   background-color: red;
   font-weight: bold;
   color:black
   }
   #kick:hover{
   background-color: red;
   color:black;
   font-weight: bold;
   }
   #spMove:hover{
      background-color: red;
   }
#music{
   position:absolute;
   top: 90vh;
   left:80vh;
   z-index: 3;
}

#music img{
   height:80px;
}


button:hover{
   background-color: red;
}

.hP{
   color: white;
   background-color: blue;
   font:18pt Arial;
   font-weight:bold;
   margin-top: 800px;
   border: 2px solid;
   border-color : red;
   margin:20px 250px;
}

.hP1{
   color: white;
   background-color: blue;
   font:18pt Arial;
   font-weight:bold;
   margin-top: 800px;
   border: 2px solid;
   border-color : red;
}

.bar{
   font-weight: bold;
   font-size: larger;
   left:300;
   width: 650px;
   height:30px;
   background-color: green;
   border: 4px solid black;
   margin-top:20px;
}

#p{
   font-family: 'Chakra Petch', sans-serif;
   font-weight: 700;
   font-size: 40px;
   z-index: -5;
  margin:100px 50px;
 
}

h2{
   font-size: 50px;
   margin-right: 90px;

}

