@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

body{
    background-image:url("images/star_background.jpeg");

}



/******************** HEADER **********************/


#header{
    display: flex;
    justify-content:space-between;
    size: 100%;
    background-image:url('images/Screen Shot 2022-10-29 at 11.57.23 AM.png');
    background-size: 100% 100%;
    
}



 .hP{
    color: white;
    background-color: blue;
    font:25pt Arial;
    font-weight:bold;
    margin-top: 800px;
    border: 2px solid;
    border-color : red;
 }

 #fighter1_HP{
   transform: scaleX(1);
    
   
 }
 

 #fighter2_HP{
    transform: scaleX(1);
 }

.bar{font-weight: bold;
    font-size: 2vh;
    border: solid 5px rgb(255, 0, 89);
    width: 650px;
    background-image: linear-gradient(to right, red 15%,rgb(255, 136, 0) 30%, yellow 55%, green 70%);
    
    border: 4px solid black;
    margin-top:2px;
    transform: scaleX(-1);
 }




.fighter_Name{
  color: #3de2c8;
  font-weight: bold;
  font-size: 2vh;
  background-color:#bebebe;
  margin-right:35vw;
}

 #timer{
    font-size: 150%;
    border: 5px red solid;
    border-radius: 100px;
    background-color: black;
    color: white;
 }

 /***fighting buttons***/
#fighting{
    display: flex;
    justify-content:space-between;
   
}

#fighting button{
    font-size: 150%;
    border-radius: 80px;

}

 #punch{
    background-color: blue;
    font-weight: bold;
    color:rgb(254, 254, 254);
    
    }
    #kick{
    background-color: yellow;
    color:black;
    font-weight: bold;
    }
    #spMove{
       background-color: green;
       color: azure;
    }
    
    #fighting button:hover{
       background-color: red;
       font-weight: bold;
       color:black
       }
      
     .moves1{
      visibility: hidden;
     }
       


       /**FIGHTING CONTAINER**/
#topRow{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    width: 100%;
    height: 68em;
    border: 5px solid black;
    background-image:url('images/IMG_4025.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 80px;
    box-shadow:red;
}




#player1 img{
 height: 40em;
}

#player2{
 transform: scaleX(-1);
}

#player2 img{
    height:44em;
    }

/******************************fighters dialog box*****************************************************/



.fighter_highlight {
    color: #e23d3d;
  }

.fighter_highlight2{
color: rgb(80, 220, 255);
  }

  
  .fighter_dialog_wrap {
    background: #1b1a1a;
    width: 100%;
    height: 30em;
    border-radius: 80px;
    position: relative;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
  }
  
  .fighter_dialog_wrap:before,
  .fighter_dialog_wrap:after {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: -20px 0 0px -15px #bebebe;
    content: "";
    position: absolute;
    top: 25px;
  }
  
  .fighter_dialog_wrap:before {
    left: 20px;
  }
  
  .fighter_dialog_wrap:after {
    right: 20px;
    transform: rotate(180deg);
  }
  
  .fighter_dialog_inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fighter_dialog_inner:before,
  .fighter_dialog_inner:after {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 5px #1b1a1a;
    background: #bebebe;
    position: absolute;
    content: "";
    top: 72px;
    z-index: 2;
  }
  

  
  
  
 #p{
    color: antiquewhite;
    font-size: 1.5em;
    font-weight: bold;
     margin: 0;
    margin-left:2vh;
    overflow-x:auto;
    overflow-y:auto;
    white-space: pre-wrap;
  }

  /*SCOREBOARD*/
 

  .score{
    position: sticky;
    width:10%;
    background-color: beige;
    margin-left:80vw;
  }
  #player_1{
    border: #c90202 4px solid;
    font-size: larger;
    font-weight: 500;
  }
  #cpu{
    border: #0802b4 4px solid;
    font-size: larger;
    font-weight: 500;
  }


#wins{
  font-size: larger;
  font-weight: 400;
}
#losses{
  background-color: bisque;
}

.fighter_triangle {
  width: 30px;
  height: 20px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background: #bebebe;
  position: absolute;
  bottom: -10px;
  left: 50%;
  animation: float 3.4s infinite;
}

.fighter_triangle:before {
  content: "";
  width: 18px;
  height: 12px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background: red#1b1a1a;
  position: absolute;
  right: 6px;
  top: 3px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  24% {
    transform: translateY(-6.56px);
  }
  40% {
    transform: translateY(6.28px);
  }
 66% {
    transform: translateY(-2.56px);
  }
}

/***********************************************************************************************************/
/****footer**/
#footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 7em;
}

#footer button:hover{
    background-color: rgb(247, 243, 243);
    font-weight: bold;
    color:black
    }
#footer button{
    width: 30em;
    height: 3em;
    border-radius: 80px;
}
    #homeButton{
        background-color: green;
        color: azure;
    }

    #fightButton{
        background-color: red;
        color: azure;
    }

    #fightButton:hover{
        color: orange;
    }

    #charSelect{
        background-color: blue;
        color: azure;
    }
